<nav>
  <ul>
    <li>
      <a
        [routerLink]="['/']"
        [routerLinkActive]="['activated']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Associação de dados</a
      >
    </li>
    <li>
      <a [routerLink]="['diretivas']" [routerLinkActive]="['activated']"
        >Diretivas-Atributos</a
      >
    </li>
    <li>
      <a
        [routerLink]="['diretivas-estruturais']"
        [routerLinkActive]="['activated']"
        >Diretivas-Estruturais</a
      >
    </li>
    <li>
      <a [routerLink]="['output']" [routerLinkActive]="['activated']">Output</a>
    </li>
    <li>
      <a [routerLink]="['two-way']" [routerLinkActive]="['activated']"
        >Two Way</a
      >
    </li>
    <li>
      <a [routerLink]="['formulario']" [routerLinkActive]="['activated']"
        >Formulário</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
